# Python
venv/
*.pyc
__pycache__/
.env
.env.*
*.sqlite3

# Node
node_modules/
dist/
build/
.vite/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# IDE
.idea/

# Coverage
htmlcov/
.coverage

# Misc
*.tgz
*.zip
